# Third-party modules, local test and conf files

server/node_modules
server/bower_components
server/.idea
server/config/config.*.json
server/log

hass/custom_components/__pycache__
hass/home-assistant.db
hass/home-assistant.log
hass/lib/
hass/data/*
hass/source

*~
*.local
*.local.*
